@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
}

@layer base {
  body {
    @apply bg-gradient-to-b from-gray-900 to-[#010511] text-white overflow-x-hidden !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-500 -z-50;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-50 flex h-[60px] w-full items-center justify-between px-4 transition-all md:px-10;
  }

  .headerLink {
    @apply text-lg font-semibold text-gray-200 hover:text-white;
  }

  .headerIcon {
    @apply cursor-pointer text-3xl font-semibold;
  }

  .bannerBtn {
    @apply flex cursor-pointer items-center space-x-2 rounded-md px-8 py-2 font-semibold opacity-100 hover:opacity-80;
  }

  .loginInput {
    @apply w-full rounded-lg bg-[#333] px-4 py-2 outline-none placeholder:text-[gray] focus:bg-[#444];
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .planBox {
    @apply relative mx-4 flex h-[80px] w-[calc(100%/3)] items-center justify-center rounded-md bg-[#E50914] px-4 font-semibold after:absolute after:top-full after:border-8 after:border-b-0 after:border-transparent after:border-t-[#E50914] after:content-[''] md:h-[140px] md:px-0;
  }

  .changePlanLink {
    @apply w-fit cursor-pointer text-blue-500 hover:underline md:ml-auto;
  }

  /* Mui menu */
  .menu {
    @apply !opacity-90
  }
  
  .menu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }
}
